<main class="main-content" role="main">
  <h1 class="main-content-title">Weather APP</h1>
  <app-search-bar
    (searchEvent)="getLocationWeatherDetails($event)"
  ></app-search-bar>

  @if (groupedDataKeys.length > 0) {
  <section>
    <h6
      class="main-content-forecastText"
      [attr.aria-label]="'Forecast for ' + selectedLocation().name"
    >
      Upcoming 5-Day Weather Forecast for {{ selectedLocation().name }}
    </h6>
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="center"
      aria-label="Weather forecast tabs"
    >
      <!-- iteration of Days -->
      @for (item of groupedDataKeys; track $index) {
      {{ item | date }}
      <mat-tab [label]="item | dayLabel" [aria-label]="item | dayLabel">
        <div class="grid-container">
          <!-- iteration of 3-hourly time of a days -->
          @for (value of groupedData[item]; track $index) {
          <app-weather-card
            [weatherValue]="value"
            [userTimeZone]="userTimeZone"
          ></app-weather-card>
          }
        </div>
      </mat-tab>
      }
    </mat-tab-group>
  </section>
  }
</main>
